<h1>Editing prov_xn</h1>

<% form_for(@prov_xn) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :employeenumber %><br />
    <%= f.text_field :employeenumber %>
  </p>
  <p>
    <%= f.label :familyname %><br />
    <%= f.text_field :familyname %>
  </p>
  <p>
    <%= f.label :givenname %><br />
    <%= f.text_field :givenname %>
  </p>
  <p>
    <%= f.label :suspended %><br />
    <%= f.text_field :suspended %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @prov_xn %> |
<%= link_to 'Back', prov_xns_path %>
