<h1>Listing prov_xns</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Empno</th>
    <th>Familyname</th>
    <th>Givenname</th>
    <th>Suspended</th>
  </tr>

<% @prov_xns.each do |prov_xn| %>
  <tr>
    <td><%=h prov_xn.username %></td>
    <td><%=h prov_xn.password %></td>
    <td><%=h prov_xn.employeenumber %></td>
    <td><%=h prov_xn.familyname %></td>
    <td><%=h prov_xn.givenname %></td>
    <td><%=h prov_xn.suspended %></td>
    <td><%= link_to 'Show', prov_xn %></td>
    <td><%= link_to 'Edit', edit_prov_xn_path(prov_xn) %></td>
    <td><%= link_to 'Destroy', prov_xn, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prov_xn', new_prov_xn_path %>
