<p>
  <b>Username:</b>
  <%=h @prov_xn.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @prov_xn.password %>
</p>

<p>
  <b>Empno:</b>
  <%=h @prov_xn.empno %>
</p>

<p>
  <b>Familyname:</b>
  <%=h @prov_xn.familyname %>
</p>

<p>
  <b>Givenname:</b>
  <%=h @prov_xn.givenname %>
</p>

<p>
  <b>Suspended:</b>
  <%=h @prov_xn.suspended %>
</p>


<%= link_to 'Edit', edit_prov_xn_path(@prov_xn) %> |
<%= link_to 'Back', prov_xns_path %>