<p>
  <b>Sessionid:</b>
  <%=h @prov_xn.sessionid %>
</p>

<p>
  <b>Operator:</b>
  <%=h @prov_xn.operator %>
</p>

<p>
  <b>Uid:</b>
  <%=h @prov_xn.uid %>
</p>

<p>
  <b>Dn:</b>
  <%=h @prov_xn.dn %>
</p>

<p>
  <b>Employeenumber:</b>
  <%=h @prov_xn.employeenumber %>
</p>

<p>
  <b>Userpassword:</b>
  <%=h @prov_xn.userpassword %>
</p>

<p>
  <b>Userclass:</b>
  <%=h @prov_xn.userclass %>
</p>

<p>
  <b>Givenname:</b>
  <%=h @prov_xn.givenname %>
</p>


<%= link_to 'Edit', edit_prov_xn_path(@prov_xn) %> |
<%= link_to 'Back', prov_xns_path %>